@use "sass:map";
@use "../globals/variables.scss" as *;
@use "../globals/mixins/utils.scss" as *;
@use "./variables.scss" as *;

#list-products {
    margin: 20px 0 20px 0;
    
    .container-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &.loading {
            
            > article {
                display: none;
            }

            .loader {
                display: block;
            }

        }

        article {
            display: flex;
            flex-direction: column;
            margin: 20px;
            
            &.disccount {
                
                .image {
                    position: relative;

                    .percentage {
                        align-items: center;
                        background-color: map.get($bgColorProductPercentage, $lightTheme);
                        border-radius: 20px;
                        color: map.get($colorProductPercentage, $lightTheme);
                        display: block;
                        display: flex;
                        font-family: $ternaryFont;
                        font-size: 16px;
                        justify-content: center;
                        left: 15px;
                        padding: 6px 13px;
                        position: absolute;
                        top: 15px;
                    }
                }

                .info {

                    .price {
                        justify-content: center;
                        align-items: center;
                        display: flex;

                        .offer {
                            display: block;
                            margin-right: 12px;
                        }

                        .original {
                            margin-left: 12px;
                            color: map.get($redColor, $lightTheme);
                            text-decoration: line-through;
                        }
                    }
                } 
            }
            
            .image {
                @include aspectRatio($withProduct, $proportionProduct);
                align-items: center;
                background-color: map.get($bgColorProduct, $lightTheme);
                border-radius: 10px;
                display: flex;
                max-width: 350px;
                max-height: 350px;
                justify-content: center;
                
                img {
                    height: 100%;
                }

                .percentage {
                    display: none;
                }
            }
        
            .info {
                display: flex;
                flex-direction: column;
                
                .name {
                    font-size: 18px;
                    padding: 10px 0 10px 0;
                    text-align: center;
                }
                
                .price {
                    font-family: $ternaryFont;
                    font-size: 18px;
                    font-weight: bold;
                    padding: 10px 0 10px 0;
                    text-align: center;

                    .offer {
                        display: none;
                    }
                }
            }
        }
        
        .loader {
            display: none;
        }
    }
    
    h2 {
        font-family: $mainBoldFont;
        font-size: 30px;
        text-align: center;
    }
}





