@use "sass:map";
@use "../globals/variables.scss" as *;
@use "./variables.scss" as *;

@mixin dark {
    #list-products {
        .container-products {
            article {
                &.disccount {
                    .image-container {
                        .percentage {
                            background-color: map.get($bgColorProductPercentage, $darkTheme);
                            color: map.get($colorProductPercentage, $darkTheme);
                        }
                    }
                }
                .image-container {
                    background-color: map.get($bgColorProduct, $darkTheme);
                    border: 1px solid map.get($borderColorProduct, $darkTheme);
                }
            }
        }
    }
}