$lightTheme: "light";

$mainFont: "playfair", serif;
$mainBoldFont: "playfair-bold", serif;
$secondaryFont: cursive;

$mainColor: (
    $lightTheme: #000
);

$secondaryColor: (
    $lightTheme: #888
);

$blueColor: (
    $lightTheme: #2577fd
);










