@use "sass:map";
@use "../globals/variables.scss" as *;
@use "./variables.scss" as *;

#main-message {
    background-color: map.get($bgColorMainMessage, $lightTheme);
    display: flex;
    height: 350px;
    justify-content: flex-start;
    
    .message-container {
        display: flex;
        flex-direction: column;
        height: 350px;
        justify-content: space-evenly;
        padding: 0 25px;
        z-index: 5;

        .button {
            background-color: map.get($bgColorMainMessageButton, $lightTheme);
            border-radius: 20px;
            color: map.get($colorMainMessageButton, $lightTheme);
            font-family: $mainBoldFont;
            padding: 15px;
            width: 120px;
        }
    
        .message {
            font-size: 18px;
        }
    
        .offer {
            color: map.get($blueColor, $lightTheme);
            font-family: cursive;
            font-size: 30px;
            font-weight: bold;
        }
    
        .slogan {
            font-family: $mainBoldFont;
            font-size: 40px;
        }
    }

    .image-container {
        height: 100%;
        display: none;

        img {
            height: 100%;
        }
    }
}