@mixin small {
    #main-message {
        justify-content: center;
        .message-container {
            align-items: center;
        }
    }
}

@mixin medium {
    #main-message {
        height: 500px;
        justify-content: space-evenly;

        .message-container {
            height: 500px;
            align-items: flex-start;
        }

        .image-container {
            display: block;
        }
    }
}

@mixin large {
    #main-message {
        .message-container {
            .message {
                font-size: 23px;
            }
        
            .offer {
                font-size: 35px;
            }
        
            .slogan {
                font-size: 45px;
            }
        }
    }
}

@mixin xlarge {
    #main-message {
        height: 760px;
        align-items: center;

        .message-container {
            height: 550px;
            width: 500px;

            a {
                border-radius: 30px;
                width: 190px;
            }
    
            .buy-now {
                border-radius: 30px;
                padding: 20px;
                width: 150px;
                font-size: 18px; 
            }

            .message {
                font-size: 30px;
            }
        
            .offer {
                font-size: 45px;
            }
        
            .slogan {
                font-size: 75px;
            }
        }
    }
}