@use "../globals/variables.scss" as *;

$bgColorMainMessage: (
    $lightTheme: #c0e9ff
);

$bgColorMainMessageButton: (
    $lightTheme: #2577fd
);

$colorMainMessageButton: (
    $lightTheme: #fff
);