header {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    position: relative;
}

h1 {
    font-size: 40px;
    margin: 0;
    margin-left: 20px;
    font-family: "playfair-bold";
}

nav {
    position: absolute;
    top: 100%;
    width: 90%;
    background-color: #fff;
    left: 5%;
    display: none;
}

nav>li {
    font-size: 16px;
    margin: 0;
    list-style: none;
    padding: 10px 10px 10px 30px;
}

header .icon_menu {
    margin-right: 20px;
}