.icon_menu {
    display: flex;
    flex-direction: column;
    height: 35px;
    justify-content: center;
    width: 35px;
}

.icon_menu::before {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 10px 0px #000, 0px 20px 0px #000;
    content: "";
    height: 5px;
    margin-top: calc(-40px/2);
}