$lightTheme: "light";
$darkTheme: "dark";

$mainFont: "playfair", serif;
$mainBoldFont: "playfair-bold", serif;
$secondaryFont: cursive;

$mainColor: (
    $lightTheme: #000,
    $darkTheme: #fff
);

$secondaryColor: (
    $lightTheme: #888
);

$blueColor: (
    $lightTheme: #2577fd,
    $darkTheme: lighten(#2577fd, 15%)
);