@use "../globals/variables.scss" as *;

$bgColorProduct: (
    $lightTheme: #fff,
    $darkTheme: #fff
);

$bgColorProductPercentage: (
    $lightTheme: #ff003c,
    $darkTheme: darken(#ff003c, 10%)
);

$colorProductPercentage: (
    $lightTheme: #fff,
    $darkTheme: darken(#fff, 5%)
);

$borderColorProduct: (
    $lightTheme: #ccc,
    $darkTheme: lighten(#ccc, 5%)
);

$proportionProduct: 1;
$withProduct: 80vw;