@use "sass:map";
@import "../globals/variables.scss";

footer {
    color: map.get($secondaryColor, $lightTheme);;
    font-size: 18px;
    padding-top: 80px;
    text-align: center;
    margin-top: -60px;
}