@use "sass:map";
@import "../globals/variables.scss";
@import "./variables.scss";

body {
    background-color: map.get($bgColorBody, $lightTheme);
    color: map.get($mainColor, $lightTheme);
    font-family: $mainFont;

    a {
        color: map.get($mainColor, $lightTheme);
        cursor: pointer;
        text-decoration: none;

        &:active {
            color: inherit;
        }
    }
}