@use "sass:map";
@import "../globals/variables.scss";
@import "./variables.scss";

nav {
    background-color: map.get($bgColorNav, $lightTheme);
    left: 5%;
    padding-bottom: 10px;
    position: absolute;
    top: 100%;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: transform 0.2s;
    width: 90%;

    li {
        font-size: 16px;
        margin: 0;
        list-style: none;
        padding: 20px 20px 20px 30px;
    }
}