@use "sass:map";
@use "../globals/variables.scss" as *;
@use "../globals/mixins/utils.scss" as *;
@use "./variables.scss" as *;

#list-categories {
    margin: 20px 0 20px 0;

    .container-categories {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 20px;

        article {
            @include aspectRatio($withCategory, $proportionCategory);
            border-radius: 10px;
            display: flex;
            justify-content: flex-end;
            position: relative;
            max-width: 400px;
            margin: 20px;
            max-height: 242px;
            
            &:nth-child(odd) {
                background-color: map.get($bgColorOddCategory, $lightTheme);
            }

            &:nth-child(even) {
                background-color: map.get($bgColorEvenCategory, $lightTheme);
            }

            .image {
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;

                img {
                    height: 100%;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                height: 100%;

                .name {
                    font-size: 22px;
                    font-family: $mainBoldFont;
                    text-align: left;
                    margin-bottom: 3px;
                }

                .offer {
                    background-color: map.get($bgColorCategoryOffer, $lightTheme);
                    border-radius: 20px;
                    font-family: $ternaryFont;
                    font-size: 12px;
                    margin-top: 3px;
                    padding: 5px 10px;
                }
            }
        }
    }

    h2 {
        font-size: 30px;
        text-align: center;
        font-family: $mainBoldFont;
    }
}