@use "../globals/variables.scss" as *;

$bgColorOddCategory: (
    $lightTheme: rgb(250, 221, 228)
);

$bgColorEvenCategory: (
    $lightTheme: rgb(239, 245, 254)
);

$bgColorCategoryOffer: (
    $lightTheme: #ffbc07
);

$proportionCategory: 20/33;
$withCategory: 90vw;

