$bgColorOddCategory: (
    $lightTheme: #fed5dc
);

$bgColorEvenCategory: (
    $lightTheme: #c0e9ff
);

$bgColorCategoryOffer: (
    $lightTheme: #ffbc07
);

$proportionCategory: 20/33;
$withCategory: 90vw;

