@use "sass:map";
@import "../globals/variables.scss";
@import "./variables.scss";

nav {
    background-color: map.get($bgColorNav, $lightTheme);
    box-shadow: 0 10px 15px map.get($shadowColorNav, $lightTheme);
    left: 5%;
    padding-bottom: 10px;
    position: absolute;
    top: 100%;
    transform-origin: 0 0;
    transform: scaleY(0);
    transition: transform 0.2s;
    width: 90%;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin: 0;

            a {
                cursor: pointer;
                font-family: $ternaryFont;
                font-size: 16px;
                display: block;
                margin: 0;
                padding: 20px 20px 20px 30px;
                
                &:hover {
                    color: map.get($blueColor, $lightTheme);
                }
            }
    
        }
    }

}