@mixin large {
    nav {
        box-shadow: none !important;
        height: 90px;
        left: 0;
        padding-bottom: 0;
        position: static;
        top: 0;
        transform: none !important;
        transition: none;
        width: 70%;
        
        ul {
            height: 90px;
            align-items: center;
            display: flex;
            justify-content: space-evenly;


        }

    } 
}

@mixin xlarge {
    nav {
        width: 70%;

        ul {
            li {
                a {
                    font-size: 17px;
                }
            }
        }

    }
}