@use "sass:map";
@use "../globals/variables.scss" as *;
@use "../globals/mixins/utils.scss" as *;
@use "./variables.scss" as *;

#list-categories {
    margin: 20px 0 20px 0;

    .container-categories {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 20px;


        &.loading {
            
            > article {
                display: none;
            }

            .loader {
                display: block;
            }

        }

        article {
            @include aspectRatio($withCategory, $proportionCategory);
            border-radius: 10px;
            cursor: pointer;
            margin: 20px;
            max-height: 242px;
            max-width: 400px;
            position: relative;
            
            &:nth-child(odd) {
                background-color: map.get($bgColorOddCategory, $lightTheme);
            }
            
            &:nth-child(even) {
                background-color: map.get($bgColorEvenCategory, $lightTheme);
            }
            
            a {
                display: flex;
                height: 100%;
                justify-content: flex-end;
                width: 100%;
            }

            .image-container {
                height: 100%;
                left: 0;
                position: absolute;
                right: 0;
                width: 50%;

                .image {
                    height: 100%;
                    width: 100%;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }

            .info {
                align-items: center;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                margin-right: 15px;
                z-index: 2;

                .name {
                    font-size: 22px;
                    font-family: $mainBoldFont;
                    text-align: left;
                    margin-bottom: 3px;
                }

                .offer {
                    background-color: map.get($bgColorCategoryOffer, $lightTheme);
                    border-radius: 20px;
                    font-family: $ternaryFont;
                    font-size: 12px;
                    margin-top: 3px;
                    padding: 5px 10px;
                }
            }
        }
        
        .loader {
            display: none;
        }
    }

    h2 {
        font-size: 30px;
        text-align: center;
        font-family: $mainBoldFont;
    }
}