@font-face {
    font-family: 'georgiaPro-bold';
    src: url('../assets/fonts/GeorgiaPro-CondSemiBold.ttf');
}

@font-face {
    font-family: 'georgiaPro';
    src: url('../assets/fonts/GeorgiaPro-CondRegular.ttf');
}

@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/Poppins.ttf');
}