@font-face {
    font-family: 'playfair-bold';
    src: url('../assets/fonts/PlayfairDisplay-Bold.ttf');
}

@font-face {
    font-family: 'playfair';
    src: url('../assets/fonts/PlayfairDisplay.ttf');
}

@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/Poppins.ttf');
}