@use "sass:map";
@import "../globals/variables.scss";
@import "./variables.scss";

header {
    align-items: center;
    background-color: map.get($bgColorHeader, $lightTheme);
    box-shadow: 0 10px 15px map.get($shadowColorHeader, $lightTheme);
    display: flex;
    height: 70px;
    justify-content: space-between;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    h1 {
        color: map.get($colorHeaderH1, $lightTheme);
        font-family: $mainBoldFont;
        font-size: 40px;
        margin: 0;
        margin-left: 20px;
    }

    .icon_menu {
        cursor: pointer;
        margin-right: 20px;
    }
}

